#carousel {
    position: fixed;
    right: 33%;
    bottom: 0%;
}
.carousel {
    width:640px;
    height:360px;
  }
#confirmation {
    display: none;
    margin-left: 1rem;
}
#positionTopRight {
    style: absolute;
    top: 20px;
    right: 20px;
}
button {
    margin-left: 45%;
}